*,
*::before,
*::after{
	box-sizing: border-box;	
}
/*Css variables*/
:root{
	--header-main:clamp(2.5rem, 5vw + 1rem, 3.4375rem);
    --calculator-background-color:rgb(0,0,0);
    --input-background-color:rgb(217, 217, 217);
    --button-background-color: rgb(91, 91, 91);
    --border-color: #0090FF;
  }
  
/*-----------------Font styles----------------------*/
.funnel-sans{
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

.calculator{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--calculator-background-color);
    font-family: var(--font-family);
    padding:1rem;
    border-radius: 2rem;
    margin-block: 1.5rem;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--input-background-color);
    border-radius: 2rem;
    padding: 1rem;
}

/*--Button styles and positioning--*/
.button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--button-background-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

button{
    border-radius: 50%;
    width: 3.9525rem;
    height: 4.036875rem;
}

.button-row-style >button{
    padding:0;
    margin:0.2rem;
}
